@model IQueryable<Product>
<h4 style="text-align: center;"> Data form database</h4>
@foreach (var p in Model)
{
    <div>
        <h3> @p.Name</h3>
        @p.Description
        <h4>@p.Price.ToString("c")</h4>
    </div>
}