@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to 2021</h1>
    <p>We are going to have a wonderful party this year!</p>
    <a asp-action="ReservationForm">Fill the form!</a>
</div>
