@* The type of the model is difined with @mdel note the lowercase m *@
@model chapter3.Models.GuestResponse

@{
    Layout = null;
}
<!DOCTYPE hmtl>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
</head>

<body>
    <div>
        <form asp-action="ReservationForm" method="POST">
            <div>
                <label asp-for="Name">Your name:</label>
                <input asp-for="Name" />
            </div>
            <div>
                <label asp-for="Email">Your email:</label>
                <input asp-for="Email" />
            </div>
            <div>
                <label asp-for="Phone">Your phone:</label>
                <input asp-for="Phone" />
            </div>
            <div>
                <label>Will you attend?</label>
                <select asp-for="Comming">
                    <option value="">Choose an option</option>
                    <option value="true">Yes, I'll be there</option>
                    <option value="false">No, I can't come</option>
                </select>
            </div>
            <button type="submit">Submit RSVP</button>

        </form>
    </div>

</body>

</html>